body{
    background: lightslategrey;
    text-align: center;
    color: whitesmoke;
}
.traffic{
    height: 300px;
    background: black;
    width: 100px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
}
.light{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
}

.red.active{
    background: red;
}

.yellow.active{
    background: yellow;
}

.green.active{
    background: green;
}