body{
    background: lightskyblue;
    text-align: center;
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

button{
    width: 100px;
    border-radius: 20px;
    background: lightcyan;
    color: darkcyan;
    margin-top: 10px;
    transition: 1s;
}

button:hover{
    background: darkcyan;
    color: lightcyan;
    cursor: pointer; 
}